.colors ul {
  margin: 0;
  padding: 0;
}

.colors ul li {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.blue {
  border: 3px solid rgb(0, 225, 255);
}

.pink {
  border: 3px solid rgb(0, 225, 255);
}

.yellow {
  border: 3px solid rgb(0, 225, 255);
}
